version: "3.8"

services:

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    volumes:
      - zookeeper-data:/var/lib/zookeeper/data
      - zookeeper-log:/var/lib/zookeeper/log

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
    volumes:
      - kafka-data:/var/lib/kafka/data

  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: supply_chain
      POSTGRES_USER: supplychain_user
      POSTGRES_PASSWORD: supplychain_pass
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./infra/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  fastapi:
    build:
      context: ./backend/api
    container_name: fastapi
    ports:
      - "8000:8000"
    depends_on:
      - kafka
      - postgres
      - redis
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      POSTGRES_URL: postgresql://supplychain_user:supplychain_pass@postgres:5432/supply_chain

  order-consumer:
    build:
      context: ./backend/consumers/order_consumer
    container_name: order_consumer
    depends_on:
      - kafka
      - postgres
      - redis
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      POSTGRES_URL: postgresql://supplychain_user:supplychain_pass@postgres:5432/supply_chain

  analytics-consumer:
    build:
      context: ./backend/consumers/analytics_consumer
    container_name: analytics_consumer
    depends_on:
      - kafka
      - postgres
      - redis
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      POSTGRES_URL: postgresql://supplychain_user:supplychain_pass@postgres:5432/supply_chain

  shipment-consumer:
    build:
      context: ./backend/consumers/shipment_consumer
    container_name: shipment_consumer
    depends_on:
      - kafka
      - postgres
      - redis
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      POSTGRES_URL: postgresql://supplychain_user:supplychain_pass@postgres:5432/supply_chain

volumes:
  zookeeper-data:
  zookeeper-log:
  kafka-data:
  postgres-data:
  redis-data:
